<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>


<body>

    <h3>Welcome to the Chat App</h3>
    <h5 id = 'myusername'></h5>
    <ul id = 'messages'>
    </ul>
    <div id = 'datastream'><ul></ul></div>
    <div id = 'bare'></div>


<div>
    <ul id = 'chat'></ul>
</div>
<input id="chat-input" type="text"> <button onclick="sendMessage()">Send Message</button>

<div>
    <input type = 'text' id = 'myname' data-chat = '0'>
    <button id = 'inputname'>Submit</button>
    <input type = 'text' id = 'chatroom'>
    <button id = 'chatselect'>Choose</button>

</div>

</body>



<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
<script type="text/javascript" src="static/js/mysocket.js"></script>



