<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<h5>WELCOME TO THE SECOND PAGE</h5>
<h7>we have squares</h7>

<div class = 'row'>

    <div class = 'col-md-3'></div>
    <div class = 'col-md-6'>
        <div class="card">
          <div class="card-body" id = 'hand'>
            BEHOLD OUR SQUARES
          </div>
        </div>

    </div>
    <div class = 'col-md-3'></div>



</div>





<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
<script type="text/javascript" src="static/js/secondpage.js"></script>
</body>
</html>